language: cpp

compiler: gcc

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq cmake libmysqlcppconn5 libmysqlcppconn-dev
  #- sudo apt-get install -qq libboost1.48-dev libboost-timer1.48-dev libboost-thread1.48-dev libboost-system1.48-dev libboost-program-options1.48-dev libboost-chrono1.48-dev 
  - mkdir ~/boost
  - cd ~/boost
  - wget http://lol.th3f0x.com/boost_1_53_0.tar.gz
  - tar xf boost_1_53_0.tar.gz
  - cd boost_1_53_0
  - ./bootstrap.sh
  #- ./b2 --with-thread --with-system --with-program_options --with-timer --with-chrono
  - sudo ./b2 --with-thread --with-system --with-program_options --with-timer --with-chrono install

before_script:
  - mkdir build
  - cd build
  - cmake ..

script: make

notifications:
  email:
    - jyrno42@gmail.com
  on_success: always
  on_failure: always