language: cpp

compiler: gcc

env:
  global:
    - secure "Tz2fbmDwCMy1hpZ0kv4IqHO0qkqOUixXxxTL8d2DjANWuGCYYuLEEfXfABrS\nUufIJoFVMD9ejQc+a+4dVYc67voDXQvb7nhsscvVMwJal6PxVYO3dql1NfxM\n8gYVHSCZWfmGJQXBufjSuSrp0bMrmfL4MX/+YdKUSoZqqaXqsSk="

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq cmake libmysqlcppconn5 libmysqlcppconn-dev
  #- sudo apt-get install -qq libboost1.48-dev libboost-timer1.48-dev libboost-thread1.48-dev libboost-system1.48-dev libboost-program-options1.48-dev libboost-chrono1.48-dev 
  - mkdir ~/boost
  - cd ~/boost
  - wget http://lol.th3f0x.com/boost_1_53_0.tar.gz
  - tar xf boost_1_53_0.tar.gz
  - cd boost_1_53_0
  - ./bootstrap.sh
  #- ./b2 --with-thread --with-system --with-program_options --with-timer --with-chrono
  - sudo ./b2 -d0 --with-thread --with-system --with-program_options --with-timer --with-chrono install
  - cd $TRAVIS_BUILD_DIR

before_script:
  - mkdir build
  - cd build
  - cmake ..

after_script:
  - echo "Posting file to server"
  #- curl --request POST --form binary="@${TRAVIS_BUILD_DIR}/build/updater" http://update.th3f0x.com/build.php?key=${UPLOAD_KEY}
  - curl -F "filedata=@$TRAVIS_BUILD_DIR/build/updater;type=application/octet-stream" http://update.th3f0x.com/build.php?key=$UPLOAD_KEY
  
script: make

notifications:
  email:
    - jyrno42@gmail.com
  on_success: always
  on_failure: always